.slider {
	display: block;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	width: 200px;
	border-radius: 5px;
	border: 1px solid black;
	margin: 10px auto 0;
}

.slider label {
	background: white;
	font-size: 12px;
	padding: 0px 3px;
	position: absolute;
	top: 0px;
	left: 5px;
	transform: translateY(-50%);
}

.slider .slider-bar {
	display: block;
	position: relative;
	width: 90%;
	height: 4px;
	border-radius: 2px;
	background: #ddd;
	box-shadow: 0 0 2px rgba(0,0,0,0.08);
	margin: 7px auto;
	transition: 100ms;
	padding: 0px;
}

.slider .slider-bar.click {
	background: #888;
	height: 2px;
	padding: 1px 0;
}

.slider .slider-bar span {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%, -50%);
	padding: 0;
	margin: 0;
	height: 14px;
	width: 8px;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0,0,0,0.08);
	background: royalblue;
	cursor: pointer;
}
